.fade-enter {
  opacity: 0;
  transform: scale(0.5);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}
